.task_card {
  background-color: white;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  cursor: grab;
  transition: transform 0.2s ease-in-out;
}

.task_card:active {
  cursor: grabbing;
  transform: scale(1.05);
}

.task_text {
  font-size: 16px;
  font-weight: 500;
  color: #333;
  margin-bottom: 8px;
}

.task_card_bottom_line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.task_card_tags {
  display: flex;
  gap: 6px;
}

.task_delete {
  cursor: pointer;
  padding: 4px;
}

.task_delete:hover .delete_icon {
  filter: brightness(0.8);
  transform: scale(1.1);
}
.delete_icon {
  width: 20px;
  height: 20px;
  transition: transform 0.2s ease-in-out;
}

