.app_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #dcdcdc;
    padding: 20px 0;
}

.app_header > form {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.task_input {
    font-size: 18px;
    font-weight: 500;
    background: #fff;
    color: #000;
    border: 1px solid #dfe3e6;
    border-radius: 8px;
    padding: 10px 15px;
    margin-bottom: 10px;
    width: 100%;
    transition: 0.2s;
}

.task_input:focus {
    border-color: #6457f9;
    outline: none;
}

.task_input::placeholder {
    color: #686868;
}

.task_form_bottom_line {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
    justify-content: space-between;
}

.task_status {
    font-size: 16px;
    font-weight: 500;
    border: 1px solid #999;
    border-radius: 8px;
    width: 130px;
    height: 40px;
    padding: 5px 10px;
    cursor: pointer;
    background-color: #fff;
    transition: 0.2s;
}

.task_status:focus {
    border-color: #6457f9;
    outline: none;
}

.task_submit {
    font-size: 16px;
    font-weight: 500;
    background-color: #6457f9;
    color: #fff;
    border-radius: 8px;
    height: 40px;
    padding: 5px 15px;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
}
.task_submit:hover {
    background-color: #5243d2;
}
